/* teste */

/* página sig in */
html,
.login {
    height: 100%;
}

.login {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.botaologin {
    margin-top: 10px;
    background-color: #e62738;
    border-color: #e62738;
    width: 100px;
    display: inline;
    font-size: small;
}

.botaologin:hover {
    background-color: #b9181c;
    border-color: #b9181c;
    color: white;
}


.botaologin:active{
    background-color: #b9181c;
}

.paragrafologin{
    text-align: center;
    font-size: small;
    display: inline;
    padding: 1px;
}

/* Active/current link */
.paragrafologin a.active {
    color: red;
}

.linha{
    margin-top: 5px;

}

.caixaform{
    border-radius: inherit;
    margin-top: 10px;
    font-size: xx-small;
    border: none;

}

.imagemsenhora{

    width: 50%;
    height: 50%;

}
/* acaba página sig in */

.lato { /* chamar o tipo de letra */
    font-family: lato;
}



.lato { /* chamar o tipo de letra */
    font-family: 'Lato', sans-serif;
}

.h5footer {
    font-size: 12px;
    color: white;
}

.pfooter {
    font-size: 12px;
   color: white;

}
.margemresultados{
    margin-top: -20px;
    margin-bottom: -10px;
}


.fundofooter{
background-color:#c4c4c4;
}

.paragrafoperfil{
    margin-bottom: -2px;
}
/* header */

.navbar {
    color: #FFFFFF;
    background-color: #b9181c;
    font-family: 'Lato', sans-serif;
}

.navbar-scroll{
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    justify-content: space-between;
    width: 100vw;

}

/* Active/current link */
.navbar-scroll a.active {
  font-weight: bold;
}

@media screen and (max-width: 991px) {

    .navbar-scroll .navbar-nav {
        flex-direction: row !important;
    }
}


.navbar-scroll ul {
    margin: auto;
    overflow-x: scroll;
}



.menuscroll {
    color: #000000 !important;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.menuscroll .nav-item{
    padding: 0 45px;
}

.menuscroll a{
    color: black;
}


.margemmenu {
    margin-top: auto;

}

.zuq-navbar-icon {
    background-image: url("../logozuq.jpg");
}

/* botões */

.botaodemais {
    height: 25px;
    width: 25px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}



/*icons*/

.material-icons {
    text-align: right;
}



.botaoperfis {
    margin-top: 10px;
    margin-right: 10px ;
    margin-left: 20 px;
    margin-bottom: 1px;
    background-color: #c4c4c4;
    border: none;
    text-align: center;
    width: 70px;
    height: 50px;
    font-size: x-small;
    display: inline-block;
}

.botaoperfis:hover {
    background-color: #b9181c;
    border-color: #b9181c;
    color: white;
}


.botaperfis:active{
    background-color: #b9181c;
}
.no-border-outline{
    border: hidden;
}
.no-border-outline:focus, search:focus{
    outline: none;
    background-color: #eef1f2;
}
.icon-search {
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #fafafa;
    padding-left: 10px;
    margin-left: 10px;
}
.search{
    border-radius: 5px;
    color: #e0e0e0;
    background-color: #fafafa;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}
.button_divfilters{
    border-radius: 5px;
    color: #000000;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Lato', sans-serif;
    border-style: none;
    margin-left: 10px;
}
.button_ok {
    font-family: 'Lato', sans-serif;
    background-color: #1f9baa;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}



/* Filtros */


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 20vw;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  font-family: Lato;
    display: block;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
    font-family: Lato;
}

/* Active/current link */
.sidebar a.active {
  color: black;
    font-family: Lato;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {

  color: black;
    font-weight: bold;
    font-family: Lato;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*filtro selecionado*/
.filtroselecionado {
    color: black;
    font-weight: bold;
    font-family: Lato;
}

.linhafiltroazul {
    color: #42b0b7;
    width: 5vw;
}

.iconfiltroazul{
    color: #42b0b7;
}

/* botão ok */

.btn-circle {
    width: 3vw;
    height: 3vw;
    padding: 6px 0px;
    border-radius: 100%;
    align-content: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #42b0b7;
    margin-left: 300px;
    color: white;
}
 /* Menus Gerais */



.btn {
    align-content: center;
    align-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    display: inline;
    font-family: Lato;

}
.textodestaques {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 35px;
}
@media (min-width: 992px) {
    .homeperfil {
        padding-top: 190px;
        padding-bottom: 190px;
    }
}
@media (max-width:575.98px) {
    .homeperfil {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.card-destaque {
    position: center;
}

@media (min-width: 992px) {
        .homedestaque {
            padding-top: 190px;
            padding-bottom: 190px;
        }
    }
@media (max-width:575.98px) {
    .homedestaque {
        padding-top: 18px;
        padding-bottom: 21px;
    }
}
.destaqueestudante {
    font-family: "Lato Semibold", sans-serif;
    color: #1f9baa;
    font-size: 20px;
    text-align: center;
}
.destaqueestudante2 {
    font-family: "Lato Semibold", sans-serif;
    color: #1f9baa;
    font-size: 20px;
    text-align: center;
    margin: 35px;
}
.destaqueencarregado {
    font-family: "Lato Semibold", sans-serif;
    color: #b792b0;
    font-size: 20px;
    text-align: center;
}
.destaqueencarregado2 {
    font-family: "Lato Semibold", sans-serif;
    color: #b792b0;
    font-size: 20px;
    text-align: center;
    margin: 35px;
}
.destaqueprofessor {
    font-family: "Lato Semibold", sans-serif;
    color: #f29827;
    font-size: 20px;
    text-align: center;
}
.destaqueprofessor2 {
    font-family: "Lato Semibold", sans-serif;
    color: #f29827;
    font-size: 20px;
    text-align: center;
    margin: 35px;
}
.titulos {
    font-family: "Lato Semibold", sans-serif;
    color: #b9181c;
    font-size: 22px;
    text-align: center;
    margin-left: 40px;
}
.text-geral {
    font-family: "Lato Semibold", sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
