<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="components.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="login lato">
<form class="form-signin text-center lato" style="margin-top: -70px">

    <a href="#!">
        <div style="text-align: right">
                <i class="material-icons" style="color:black; font-size: large ">clear</i>
        </div>
    </a>

    <br>
    <img class="mb-4 imagemsenhora" src="imgs/ícone-login.png" alt="" width="72" height="72">
    <br>

    <a class="h3 mb-3 font-weight-normal lato paragrafologin">
        <a href="login.html" class="paragrafologin" <li style="color: black">login </li> </a>
    <a href="registo.html" class="paragrafologin" <li style="margin-left: 40px; color: #c4c4c4">registo</li> </a>

    <hr class="linha"/>

    <label for="inputEmail" class="sr-only caixaform" style="font-size: small">nome de utilizador</label>
    <input type="email" id="inputEmail" class="form-control caixaform" style="font-size: small" placeholder="nome de utilizador" required="" autofocus="">

    <label for="inputPassword" class="sr-only caixaform" style="font-size: small">palavra passe</label>
    <input type="email" id="inputPassword" class="form-control caixaform" style="font-size: small" placeholder="palavra-passe" required="" autofocus="">

    <div class=" mb-3" style="font-size: x-small; text-align: right">
        <br>
        <a  href="#!" style="color: #b9181c"> palavra passe esquecida? </a>
    </div>
    <button class="btn btn-lg btn-primary btn-block botaologin" type="submit">ENTRAR</button>
</form>


</body>
</html>
