<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resultado final</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="components.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


<div style="text-align: center; font-family: lato">
    <div class="card cardalojamentos" style="width: 18rem; border: none">
        <div class="card-body cardresultado"> <p style=" font-family: Lato; color: white; font-size: large; position: absolute; bottom: 15px; left: 36px;"> <b>Universidade de Aveiro</b></p>
            <a href="https://www.ua.pt/" class="card-link"> <img style="width:250px; max-height:100%; border-radius: 6px" src="imgs/ua.jpg"> </a>
        </div>
    </div>
</div>
<div>
    <div>
        <i class="material-icons" style="font-size: xx-large; color: #b9181c; float: right; margin-right: 30px; margin-top: 5px">
            bookmark_border</i>
    </div>
    <div>
        <p style="text-align: left; margin-left: 30px; font-size: medium">Entre as 100 melhores instituições de ensino da Europa! </p>
    </div>
    <div style="height: 70px; font-family: Lato">
    <h1 style="color: #b9181c; font-size: medium; margin-left: 30px">CURSO DE BIOLOGIA</h1>
    <p style="color: #c4c4c4; font-size: x-small; margin-left: 30px; text-align: justify; margin-right: 30px ">A organização curricular da licenciatura em Biologia (1º ciclo) pretende fornecer ao
        estudante uma formação integrada, mas de largo espetro, das Ciências Biológicas,
        permitindo-lhe, no entanto, alguma formação diferenciada que pode levar a uma posterior especialização a adquirir com o mestrado (2º ciclo) e com o doutoramento (3º ciclo).
        A especialização na licenciatura poderá resultar da escolha do sistema major/minor ou de opções, em Biologia e/ou em qualquer área.</p>
        <p style="text-align: left; margin-left: 30px; font-size: small"> <b>média último colocado (2019)</b> <br> 1ªF - 129.0 <br>2ªF - 132.0 <br> <b>vagas -</b> 98</p>
        <p style="text-align: left; margin-left: 30px; font-size: small; color: #c4c4c4"> <b>website - </b> <a href="https://www.ua.pt/" style="color: black">www.ua.pt</a> <br> <b>e-mail - </b> <a href="mailto:geral@ua.pt" style="color: black">geral@ua.pt</a>
            <br> <b> telefone - </b> <a style="color: black">234 370 200</a></p>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 fundofooter lato">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row margem">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 h5footer"></h5>
                <p class="pfooter"> <b>ZUQ</b> é um projeto do jornal <b>"Público"</b>. Uma plataforma agregadora de informação, que funciona como ferramenta de apoio para o acesso ao ensino superior. Destina-se a Alunos, Encarregados de Educação e Professores.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <a href="https://www.publico.pt/" target="_blank"> <img src="imgs/p-logo-original-01.svg" alt="logo publico" height="100" width="100"></a>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 h5footer"></h5>

                <ul class="list-unstyled h5footer">
                    <li>
                        <a class="h5footer" href="">EXPLORAR</a>
                    </li>
                    <li>
                        <a class="h5footer" href="">NOTÍCIAS</a>
                    </li>
                    <li>
                        <a class="h5footer" href="">RECURSOS</a>
                    </li>
                    <li>
                        <a class="h5footer" href="">OPORTUNIDADES</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 h5footer"></h5>

                <ul class="list-unstyled h5footer">
                    <li>
                        <a class="h5footer" href="">AJUDA</a>
                    </li>
                    <li>
                        <a class="h5footer" href="">TERMOS E CONDIÇÕES</a>
                    </li>
                    <li>
                        <a class="h5footer" href="">POLÍTICA DE PRIVACIDADE</a>
                    </li>
                </ul>

            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> <img src="imgs/facebook-01.svg" alt="logo face" height="25px"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-dribbble">  <img src="imgs/instagram.svg" alt="logo insta" height="25px"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter">  <img src="imgs/twitter.svg" alt="logo twitter" height="25px"></i>
            </a>
        </li>

        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin-in">  <img src="imgs/linkedin.svg" alt="logo linkedin" height="25px"></i>
            </a>
        </li>

    </ul>
    <!-- Social buttons -->


    <hr>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 h5footer margem">© 2020 ZUQ</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
